@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root{
    /* Es el color de la barra de arriba y los botones */
    --bg-barra:rgb(214, 211, 209, .8);
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerPrincipio{
    background-color: var(--bg-barra);
}

.barra {
    margin: 0;
}

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;  
    padding: .7rem .7rem;
}

.logo {
    display: flex;
    height: 3rem;
}

.titulo {
    display: flex;
    height: 4rem;
}

.contactos {
    display: flex;
    font-size: 1.2rem;
}

.containerImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Asegura que los elementos hijos posicionados dentro de este contenedor se posicionen en relación con él */
    width: 100%; /* O el ancho deseado */
}

.imagenHotel {
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
}

.containerSubtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%; 
    left: 50%; 
    /* Centra el contenedor de subtítulos verticalmente */
    transform: translate(-50%, -50%); 
    text-align: center; 
}

.subtitulo {
    font-size: 5rem;
}

.frase {
    font-size: 2rem;
}

.container{
    display: flexbox;
    margin-left: 25%;
    max-width: 50%;
    justify-self: center;
}

.containerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
  
  .somos,
  .ofrecemos,
  .beneficios,
  .compatibilidad {
    position: relative; 
    font-size: 1.7rem;
  }
  
  .somos::before,
  .ofrecemos::before,
  .beneficios::before,
  .compatibilidad::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 50%; 
    width: 3rem; 
    height: 3rem; 
    border: 2px solid #000; 
    transition: all 0.35s ease; 
    cursor: pointer;
}
  
  .somos:hover::before,
  .ofrecemos:hover::before,
  .beneficios:hover::before,
  .compatibilidad:hover::before {
    width: 3.2rem; 
    height: 3.2rem; 
  }
  