@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root{

    /* Es el color de la barra de arriba y los botones */
    --bg-barra:#121c14;

    /* Es el color de los botones */
    --bg-botones:#c5d5c6;

    /* el color del titulo arriba de la imagen */
    --fg-header:rgb(255, 255, 255);

    /* El color de fondo del apartado "Quienes somos" */
    --bg-quienesSomos:rgb(214, 211, 209, 1);

    /* El color de fondo del apartado "Qué ofrecemos" */
    --bg-ofrecemos:rgb(214, 211, 209, 1);
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerPrincipio {
    height: 100vh;
}

.barra {
    margin: 0;
    background-color: var(--bg-barra);
    height: 8vh;
}

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;  
    padding: .3rem 2rem;
}

/* TODO: cambiar lo del filtro de brillo */
.logo {
    display: flex;
    height: 3rem;
    filter: brightness(100);
}

/* contactos */
#checkbox {
    display: none;
  }
  
.toggle {
position: relative;
width: 1.5rem;
height: 1.5rem;
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
transition-duration: .5s;
}

.bars {
width: 100%;
height: 4px;
background-color: rgb(255, 255, 255);
border-radius: 4px;
}

#bar2 {
transition-duration: .8s;
}

#bar1,#bar3 {
width: 70%;
}

#checkbox:checked + .toggle .bars {
position: absolute;
transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
transform: scaleX(0);
transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
width: 100%;
transform: rotate(45deg);
transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
width: 100%;
transform: rotate(-45deg);
transition-duration: .5s;
}

#checkbox:checked + .toggle {
transition-duration: .5s;
transform: rotate(180deg);
}

  /* --------------------- */

.containerImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.imagenHotel {
    width: 100%; 
    height: 70vh; /* Ajusta la altura a un valor específico o porcentaje */
    object-fit: cover;
    filter: brightness(70%);
}

.imagenSuperpuesta {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: auto;  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.imagenSuperpuesta img{
    width: 15rem;
    margin-bottom: 3rem;
}

.texto p {
    position: relative;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    font-size: 2rem;
    color: var(--fg-header);
}

.frase {
    font-size: 1.5rem;
    color: var(--fg-header);
}

.container{
    display: flex;
    align-items: center;
    background-color: var(--bg-botones);
    height: 22vh;
}

.containerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    min-width: 100%;
    color: black;
}

.contBotonTexto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* los botones */
  .somos,
  .ofrecemos,
  .beneficios,
  .compatibilidad {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    font-size: 1.7rem;
    flex: 1;
  }
  
  /* para hacer los circulos  */
  .somos::before,
  .ofrecemos::before,
  .beneficios::before,
  .compatibilidad::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 50%; 
    width: 3rem; 
    height: 3rem; 
    border: 2px solid black; 
    transition: all 0.35s ease; 
    cursor: pointer;
}
  
/* para que haga la transision de tamaño en los botones */
  .somos:hover::before,
  .ofrecemos:hover::before,
  .beneficios:hover::before,
  .compatibilidad:hover::before {
    width: 3.2rem; 
    height: 3.2rem; 
  }
  
  /* la parte del quienes somos */
.containerPrimerItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 5% 5rem 5%;
    background: var(--bg-quienesSomos);
    border-top: rgba(123, 118, 118, 0.4) 2px solid;
    border-bottom: rgb(123, 118, 118, 0.4) 2px solid;
    height: auto;
}

.containerSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.containerSomos h2{
    font-weight: bolder;
    font-size: 2rem;
}

#textoSomos {
    margin-top: 2rem;
}

/* la parte de que ofrecemos */
.containerSegundoItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0 5rem 0;
    background-color: var(--bg-ofrecemos);
    border-bottom: rgb(123, 118, 118, 0.4) 2px solid;
    height: auto;
    gap: 2rem;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.contenedorItems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 100%;
}

.contenedorItems img{
    max-width: 50%;
    height: auto;
    border-radius: .7rem;
}
